
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    font-size: 14px;
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
    height: 100vh
}

/*.user {*/
/*  width: 90%;*/
/*  max-width: 340px;*/
/*  margin: 10vh auto;*/
/*}*/

.user__header {
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.7s forwards;
}

.user__title {
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.form {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
}

/*.form--no {*/
/*  animation: NO 1s ease-in-out;*/
/*  opacity: 1;*/
/*  transform: translate3d(0, 0, 0);*/
/*}*/

/*.form__input {*/
/*  display: block;*/
/*  width: 100%;*/
/*  padding: 20px;*/
/*  font-family: Roboto;*/
/*  -webkit-appearance: none;*/
/*  border: 0;*/
/*  outline: 0;*/
/*  transition: 0.3s;*/
/*  */
/*}*/

.btn {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: Roboto;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    background: #ABA194;
    transition: 0.3s;

}

@keyframes NO {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}

form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

button {
    padding: 10px 15px;
    background-color: rgb(70, 153, 179);
    color: white;
    border: 1px solid rgb(70, 153, 179);
    transition: ease-in-out background-color 250ms, ease-in-out color 250ms;
    border-radius: 4px;
    margin-left: 10px;
}

.pass-wrapper {
    position: relative;
    display: flex;
    margin-bottom: 14px;
}

input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #777;
}
.checkbox{
    margin: 10px;
}
i {
    /*position: absolute;*/
    top: 38%;
    right: 16%;
}
i:hover {
    color: #00fcb6;
    cursor: pointer;
}
/*.LoginPage {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    text-align: center;*/
/*    justify-items: center;*/
/*    font-size: 22px;*/
/*    max-width: 500px;*/
/*    min-height: 672px;*/
/*    margin: 0 auto;*/
/*    border-radius: 25px;*/
/*    color: white;*/
/*    background-color: rgba(0, 0, 0, 0.5);*/
/*}*/