@keyframes NO {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    font-size: 14px;
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
    height: 100vh
}


.form {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
}


.btn {
    padding: 10px 15px;
    background-color: rgb(70, 153, 179);
    color: white;
    border: 1px solid rgb(70, 153, 179);
    transition: ease-in-out background-color 250ms, ease-in-out color 250ms;
    border-radius: 4px;
    margin-left: 10px;

}

form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

header {
    margin: 2% auto 10% auto;
    text-align: center;
}
/* Login title form form */
header h2 {
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}
.field {
    width: 300px;
}

.passwordWr {
    position: relative;
    /*border: 1px solid black;*/
}

.pass-wrapper {
    position: relative;
    display: flex;
    margin-bottom: 14px;
}

input {
    /*margin-bottom: 20px;*/
    /*padding: 10px;*/
    /*border-radius: 3px;*/
    /*border: 1px solid #777;*/
    width: 240px;
    height: 50px;

    margin-top: 2%;
    padding: 15px;

    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;

    outline: none;
    border: none;

    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
}

.checkbox {
    margin: 10px;
}

i {
    /*position: absolute;*/
    top: 38%;
    right: 16%;
}

i:hover {
    color: #00fcb6;
    cursor: pointer;
}

.loginPage {
    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
    /*border-radius: 5px;*/
    /*background-color: #eaede4;*/
    /*width: 25%;*/
    /*margin: 150px auto;*/
    /*padding: 15px 0 15px;*/
    /*opacity: 90%;*/

}
.container{
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: space-around;
    justify-content: space-around;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    margin: 0 auto;
}

.eye {
    /*!*top: 15px;*!*/
    /*position: absolute;*/
    /*left: 65%;*/
    /*bottom: 30px;*/
    /*!*border: 1px solid red;*!*/
    background: #fff;
    color: #333;

    margin: 5.9px 0 0 0;
    margin-left: -120px;
    padding: 15px 9px 19px 0px;
    border-radius: 0px 5px 5px 0px;

    float: right;
    position: absolute;
    right: 19%;
    top: 25.8%;
    z-index: 5;

    cursor: pointer;

}

.error {
    position: absolute;
    left: 70%;
    bottom: 30px;
}
