
.button{
    
}

.btn {
    color: #252537;

    width: 100px;
    height: 50px;

    padding: 0 20px;
    background: #fff;
    border-radius: 5px;

    outline: none;
    border: none;

    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;

    margin: 5% 5% 5% 5%;

    letter-spacing: 0.05em;

}